{{define "main"}}
<!doctype html>
<html>

{{template "head"}}

  <body class="bg-neutral-100 dark:bg-black">
    {{template "toast"}}
    <div class="flex">
      <!-- Sidbebar  -->
      {{template "sidebar" .}}
      <!-- end Sidbebar -->
       <main class="flex-1 min-h-screen transition-all duration-300 ml-0 sm:ml-64  sm:pt-0 overflow-x-auto">
        <!-- Navbar -->
        {{template "navbar" .}}
        <!-- end Navbar -->
        <!-- Main -->
        <div class="m-2 sm:m-8">
        {{template "status" .}}
           <div id="toast-container" class="fixed top-5 right-5 z-50"></div>
            <div class="p-4 border-2 border-gray-300 dark:border-gray-500 border-dashed rounded-lg dark:border-gray-700 mt-0">
              <div id="contenido">
                {{if .IsTagEdit}}
                {{template "sections/tag" .}}
                {{else if .CurrentDownloader}}
                {{template "sections/download" .}}
                {{end}}
              </div>
           </div>
        </div>
        <!-- end Main -->
      </main>
    </div>
  </body>
  {{template "scripts"}}
</html>
{{end}}
