{{range .Status}}
<div class="flex items-center justify-between p-2 border-b border-gray-200 dark:border-gray-700">
    <div class="flex items-center">
        <div class="w-4 h-4 rounded-full {{if .Mounted}} bg-green-500 glow-green {{else}} bg-gray-500 glow-gray {{end}}"></div>
        <div class="ml-2 text-sm font-medium text-gray-900 dark:text-white">{{.Name}}</div>
    </div>
    <div class="text-sm text-gray-500 dark:text-gray-400">
        {{if .Mounted}}
            Mounted at {{.MountPath}}
        {{else}}
            Not mounted
        {{end}}
    </div>
</div>
{{end}}
